<div class="content content-center">
  <h1 class="title">Available Trains</h1>
  <br>
    <div class="train select">
        <h4> 
            Origin:  <%= origin %>
            <br>
            Destination:  <%= dest %>
            <br>
            Fare: $<%= fare %>
            <br>
            Time:  <%= origTime %>
            <br>
            End Time:  <%= destTime %>
            <br>
        </h4>
        <br>
        <button type="button" onclick="" >This train!</button>
    </div>
    <h2> Transfer </h2>
    <div class="train select">
        <h4>
            Origin:  <%= transferO %>
            <br>
            Transfer Pt:  <%= transferP %>
            <br>
            Destination:  <%= transferD%>
            <br>
            Time:  <%= transferStart%>
            <br>
            Transfer Time:  <%= transferMid%>
            <br>
            End:  <%= transferEnd%>
            <br>
        </h4>
        <br>
        <button type="button" onclick="">This train!</button>
    </div>
</div>

